<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.liubaiblog.blogadmin.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="top.liubaiblog.blogadmin.pojo.Role">
        <id property="rid" column="rid" jdbcType="BIGINT"/>
        <result property="roleMark" column="role_mark" jdbcType="VARCHAR"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        rid
        ,role_mark,role_name,
        description
    </sql>
    <!-- List<Role> selectByAdminId(Long adminId); -->
    <select id="selectByAdminId" resultType="top.liubaiblog.blogadmin.pojo.Role">
        select
        <include refid="Base_Column_List"/>
        from ms_role
        where rid in (select rid from ms_user_role where uid = #{adminId})
    </select>
</mapper>
